:root {
  --primary-white-color: #ffffff;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
}
body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}
/* скрытие элементов */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.list {
  list-style-type: none;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--title-text-color);
}
.logo-color {
  color: var(--accent-color);
}
.nav-title {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--title-text-color);
}
.nav-title:hover,
.nav-title:focus {
  color: var(--accent-color);
}
.contacts-link {
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  /* временный фон */
  background-color: #f5f4fa;
}
.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-decoration: none;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
.features-title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.features-text {
  font-weight: 400;
  line-height: 1.71;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
}
.box-title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
  /* временный фон */
  background-color: rgba(47, 48, 58, 0.8);
}
.team-card-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-text-color);
}
.team-card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
}
.footer-logo-color {
  color: var(--primary-white-color);
  /* временный фон */
  background-color: #2f303a;
}
.address {
  font-weight: 400;
  line-height: 1.71;
  font-style: normal;
  color: var(--primary-white-color);
  /* временный фон */
  background-color: #2f303a;
}
.footer-contacts-link {
  font-weight: 400;
  line-height: 1.71;
  text-decoration: none;
  color: var(--footer-contacts-color);
}
.footer-contacts-link:hover,
.footer-contacts-link:focus {
  color: var(--accent-color);
}
.subscribe {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
  /* временный фон */
  background-color: #2f303a;
}
/* Портфолио */
.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: #f5f4fa;
}
.button:hover,
.button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.project-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}
.project-desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-white-color);
  /* временный фон */
  background-color: var(--accent-color);
}
